<h1>Ghost Post</h1>

<a href="/" class="button">All</a>
<a href="/boastview/" class="button">Boast</a>
<a href="/roastview/" class="button">Roast</a>
<a href="/highview/" class="button">High Votes</a>
<a href="/lowview/" class="button">Low Votes</a>

{% for foo in data %}
    <li>{{ foo.text }}</li>
    <li>{{ foo.upvotes }}</li>
    <li>{{ foo.downvotes }}</li>
    <a href="/upvote/{{foo.id}}/">upvote</a>
    <a href="/downvote/{{foo.id}}/">downvote</a>
{% endfor %}

<p>
    <a href="/postview/">Post a Boast or Roast!!!</a>
</p>